#gallery {
    margin-top: 70px;
  }
  
  .title {
    font-weight: 700;
    padding: 0 48px;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px #00283F;
  }
  
  button.rec-dot {
    background-color: transparent;
    box-shadow: 0 0 1px 3px #00283F;
  }
  
  button.rec-dot:hover,
  button.rec-dot:active,
  button.rec-dot:focus {
    box-shadow: 0 0 1px 3px #00283F;
    background-color: #00283F;
  }
  
  button.rec-arrow {
    background-color: transparent;
    box-shadow: 0 0 2px 0 #00283F;
  }
  
  button.rec-arrow:hover:enabled,
  button.rec-arrow:focus:enabled {
    box-shadow: 0 0 2px 0 #00283F;
    background-color: #00283F;
    color:#fff
  }
  
  div.rec-pagination {
    display: none;
  }
  
  #gallery .photo {
    transition: transform .2s;
  }
  
  #gallery .photo:hover {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
  }
  
  /* newsLink */
  #gallery p {
    color: #00283F;
  }
  