/* #aboutUs {
    margin-top: -100.7px;
} */

#aboutUs .container-fluid {
    /* padding: 50px;
    padding-right: 50px; */
    /* padding-top: 50px; */
    background-color: #00283F;
    color: #FFFFFF;
}

#aboutUs .about-us-area {
    /* height: 80vh; */
}

#aboutUs .about-us-title {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#aboutUs .about-us-name {
    font-size: 26px;
    margin-bottom: 15px;
}

#aboutUs .about-us-description {
    font-size: 20px;
    line-height: 36px;
}

#aboutUs .bg-image {
    height: 750px;
    background-image: url(./images/about-us.jpg);
    clip-path: circle(50% at 50% 50%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    margin: -70px -160px -70px 0;
}



