.carousel,
.carousel img {
    height: 300px;
    width: 600px;
}

#header .social-icons {
    flex-direction: column;
    justify-content: center;
}

#header .icon-foo {
    text-decoration: none;
}

#header .center-icons {
    
}
