#header {
    margin-top: -150px;
}

#header .carousel-inner {
    margin-top: 20px;
}

#header .bg-area {
    flex: 0.6;
    height: 700px;
    background-color: #00283F;    
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
}

#header .bg-image {
    margin-top: -550px;
    margin-bottom: 150px;
    /* background: url(pexels-scott-webb-1029615.jpg); */
}

.carousel,
.carousel img {
    height: 500px;
    width: 900px;
}

#header .social-icons {
    flex-direction: column;
    justify-content: center;
}

#header .icon-foo {
    text-decoration: none;
}

@media (max-width: 700px) {
    #header .bg-area {
        flex: 1 2;
        width: 100%;
        box-sizing: 0;
    }

    #header .bg-image {
        width: 100%;
    }
}

@media (max-width: 990px) {
    #header .bg-area {}
}