#header {
    margin-top: -150px;
}

#header .carousel-inner {
    margin-top: 20px;
}

#header .bg-area {
    flex: 0.6;
    height: 700px;
    background-color: #00283F;    
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
}

#header .bg-image {
    margin-top: -550px;
    margin-bottom: 150px;
    /* background: url(pexels-scott-webb-1029615.jpg); */
}

#header .active {
    position: relative;
}

#header .active .img-text {
	position: absolute;
	left: 50px;
	top: 100px;
    width: 100%;
}

#header .active h1 {
	font-size: 58px;
    font-weight: bold;    
}

#header .active p {
    margin-top: 20px;
	margin-right: 250px;  
    line-height: 35px; 
}

#header .carousel-holder {
    position: relative;
    margin-top: -550px;
    margin-bottom: 100px;
}

#header .carousel,
#header .carousel img {
    background-size: cover;
    height: 480px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#header .arrows {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header .arrows > .counter {
    color: white;
    margin-right: 16px;
    font-size: 10pt;
}

/* TODO: stylize prev & next buttons below */

#header .arrows > .arrow {
    background-color: red;
}

#header .arrows > .arrow.prev {
}

#header .arrows > .arrow.next {
}

#header .rec-slider-container {
    margin: 0 !important;
}

#header .social-icons {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20%;
    right: 20px;
}

#header .icon-foo {
    text-decoration: none;
}

#header div.rec-pagination {
    display: none;
  }

@media (max-width: 480px) {
    #header .active p {
        margin-right: 10px; 
    }
}


@media (max-width: 1090px) {
    #header .social-icons {
        display: none;
    }

    #header .carousel,
    #header .carousel img {
        height: 350px;
    }

    #header .carousel-holder {
        margin-bottom: 50px;
    }
}

@media (max-width: 700px) {
    #header .bg-area {
        flex: 1 2;
        width: 100%;
        box-sizing: 0;
    }

    #header .bg-image {
        width: 100%;
    }

    #header .carousel,
    #header .carousel img {
        height: 200px;
    }

    #header .carousel-holder {
        margin-bottom: 20px;
    }

    #header .active h1 {
        font-size: 38px;  
    }

    #header .active p {
        margin-right: 100px; 
    }
}
