#navigation-bar .lang-select {
    margin-bottom: 0;
}

#navigation-bar .navbar-brand {
    padding-left: 50px;
}

#navigation-bar #navbarNav {
    margin-left: 100px;
}

#navigation-bar .nav-item {
    margin-left: 15px;
}

#navigation-bar a {
    text-decoration: none;
    background-image: linear-gradient(#00283F, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

#navigation-bar a:hover {
    background-size: 100% 1px;
}

#navigation-bar select {
    border: none;
}

#navigation-bar form {
    visibility: hidden;
    width: 150px;
    margin-left: 20px;
}

/* #navigation-bar form:hover {
    visibility: none;
} */

#navigation-bar select {
    border: none;
    background: none;
    color: white;
}

#navigation-bar .fas {
    color: white;
}

#navigation-bar .form-select {
    padding: 0;
    
}