#footer {
    background: #00283F;
    color: white;
}

#footer a {
    text-decoration: none;
    color: inherit;
}

#footer .underline:hover {
    text-decoration: underline;
    text-underline-position: under ;
}