#career h3 {
    margin-bottom: 120px;
    margin-top: -100px;
    color: #00283f;
    font-weight: 700;
}

#career .career-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    width: 350px;
    height: 350px;
    background: #00283F;
    margin-left: 100px
}

#career .career-card > .card-inner {
    /* padding: ; */
    padding: 30px;
    color: white;
}

#career .career-form .flex-column {
    width: auto;
    margin-right: 100px;
}

#career .career-form input {
    border: none;
    margin-top: 30px;
}

#career .career-form hr {
    margin: 0;
    padding: 0;
}

/* #career .career-form input:required {
    border: 1px solid red;
} */

#career .file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* #career .file-upload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
} */

#career .send-btn {
    margin-top: 20px;
    padding: 5px;
    background: #00283F;
    color: white;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    #career .career-card {  
        width: 350px;
        height: 350px;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    #career h3 {
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    #career .career-card { 
        width: 630px;
        height: 250px;
        margin-left: 0;
    }

    #career .career-form .flex-column {
        margin-right: 0;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    #career .career-card { 
        width: 100%;
        height: 250px;
        margin-left: 0;
    }

    #career .career-form .flex-column {
        margin-right: 0;
        margin-top: 50px;
    }
}